@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #99BC85;
  --secondary-color: #BFD8AF;
  --background-color: #D4E7C5;
}

body {
  background-color: var(--background-color);
}

.debug-screens::before {
  position: fixed;
  z-index: 2147483647;
  bottom: 0;
  left: 0;
  padding: 0.3333333em 0.5em;
  font-size: 12px;
  line-height: 1;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
  content: 'CSS LOADED';
}