/* styles/globals.css */
.centered {
  text-align: center;
  font-family: 'Hangyaboly', sans-serif;
}

.nav-icon {
  cursor: pointer;
}

.nav-icon .line1,
.nav-icon .line2,
.nav-icon .line3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.nav-icon .line1 {
  transform: translateY(-10px);
}

.nav-icon .line3 {
  transform: translateY(10px);
}

/* Add more styles as needed */